<!-- <div id="text" class="center">
    VSOP
</div> -->

<!-- <div class="trafficlight">
    <div class="protector"></div>
    <div class="protector"></div>
    <div class="protector"></div>
    <div class="red"></div>
    <div class="yellow"></div>
    <div class="green"></div>
  </div> -->

  <div class="wrapper">
      <div class="wrapper-center">
      
          <div class="placescore">
              <div>
                  <div class="placescore-dot placescore-dot-1">
                      <div></div> 
                  </div>
                  <div class="placescore-dot placescore-dot-2">
                      <div></div> 
                  </div>
                  <div class="placescore-dot placescore-dot-3">
                      <div></div> 
                  </div>
                  <div class="placescore-dot placescore-dot-4">
                      <div></div> 
                  </div>
                  <div class="placescore-dot placescore-dot-5">
                      <div></div> 
                  </div>
              </div>
          </div>
      
      <div>
  <div>

        <div class="container">
                    <section class="main">
        
                        <nav class="actions">
                            <span id="nav-fan" (click)="fanRight()">Fan right</span>
                            <span id="nav-fan2">Fan left</span>
                            
                            <span id="nav-fan3">Fan right (asym.)</span>
                            <span id="nav-fan4">Fan left (asym.)</span>
                            
                            <span id="nav-fan5" (click)="rotateHorizontal()">Rotated spread (horizontal)</span>
                            <span id="nav-fan6">Rotated spread (vertical)</span>
                            
                            <span id="nav-fan7">Linear spread right</span>
                            <span id="nav-fan8">Linear spread left</span>
                            
                            <span id="nav-fan9">Linear spread right (irregular)</span>
                            <span id="nav-fan10">Linear spread left (irregular)</span>
        
                            <span id="nav-fanOther1" (click)="centeredRound()">Centered Round</span>
                            <span id="nav-fanOther2">other</span>
                            <span id="nav-fanOther3">other</span>
                            <span id="nav-fanOther4">other...</span>
                            <span id="nav-shuffle">Shuffle</span>
                            <span id="nav-shuffle" (click)="close()">Close</span>
        
                            <span id="add">Add items</span>
                        </nav>
        
                        <div class="baraja-demo">
                            <ul id="baraja-el" class="baraja-container">
                                <li><img src="assets/cards/1C.svg" alt="image1"/></li>
                                <li><img src="assets/cards/2C.svg" alt="image2"/></li>
                                <li><img src="assets/cards/3C.svg" alt="image3"/></li>
                                <li><img src="assets/cards/4C.svg" alt="image4"/></li>
                                <li><img src="assets/cards/5C.svg" alt="image5"/></li>
                                <li><img src="assets/cards/6C.svg" alt="image6"/></li>
                                <li><img src="assets/cards/1D.svg" alt="image7"/></li>
                                <!-- <li><img src="assets/cards/2D.svg" alt="image8"/></li>
                                <li><img src="assets/cards/3D.svg" alt="image9"/></li>
                                <li><img src="assets/cards/4D.svg" alt="image10"/></li>
                                <li><img src="assets/cards/5D.svg" alt="image11"/></li>
                                <li><img src="assets/cards/6D.svg" alt="image12"/></li>
                                <li><img src="assets/cards/1H.svg" alt="image3"/></li>
                                <li><img src="assets/cards/2H.svg" alt="image4"/></li>
                                <li><img src="assets/cards/4H.svg" alt="image6"/></li>
                                <li><img src="assets/cards/5H.svg" alt="image7"/></li>
                                <li><img src="assets/cards/6H.svg" alt="image8"/></li> -->
                            </ul>
                        </div>
                        <nav class="actions light">
                            <span id="nav-prev">&lt;</span>
                            <span id="nav-next">&gt;</span>
                            <span id="close">close</span>
                        </nav>
                    </section>
                    
                </div>